$green-1: #35e65d;
$grey-1: #cdd8ec;
$grey-2: #e8e8e8;
$grey-3: #b5b5b5;
$turqois-1: #005bea;
$turqois-2: #2e96f0;
$white: #fff;
$red: #ff0000;

$gradient: linear-gradient(-120deg, #2e96f0 0%, #005bea 100%);
$gradient-opposite: linear-gradient(120deg, #2e96f0 0%, #005bea 100%);
